node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.vscode
.eslintcache
.netlify
.directus/data
.directus/uploads
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_SECURE=true_or_false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
